@font-face {
  font-family: "Graphik LCG";
  src: url("../fonts/GraphikLCG-Medium.woff2") format("woff2"),
    url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"),
    url("../fonts/Gilroy-Regular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-display: swap;
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Gilroy";
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"),
    url("../fonts/Gilroy-Medium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Gilroy", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

h3 {
  margin: 0;
}

.mm-link {
  color: rgba(70, 100, 200, 0.9);
}

.mm-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #161719;
}

.mm-title {
  color: white;
  font-family: "Graphik LCG", sans-serif;
  font-size: 22px;
  margin-bottom: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
  text-shadow: 2px 2px 0px #000, -2px -2px 0px #000, -2px 2px 0 #000,
    2px -2px 0 #000;
}

.mm-homework {
  font-weight: 400;
  color: black;
  text-shadow: 1px 1px 0px #fff, -1px -1px 0px #fff, -1px 1px 0 #fff,
    1px -1px 0 #fff;
}

.modules-body {
  background-image: url(/home-work-3/img/bottom-figure.svg);
  background-repeat: no-repeat;
  background-position: bottom;
  min-height: 2260px;
}

.course-name {
  font-size: 40px;
  font-family: "Graphik LCG", sans-serif;
  font-weight: 400;
  padding-top: 30px;
  padding-bottom: 50px;
  color: #222020;
}

.modules {
  width: 1024px;
  margin: 80px;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  /* font-size: 0; */
}

.child {
  display: inline-block;
  width: 480px;
  min-height: 506px;
  margin-right: 60px;
  margin-bottom: 60px;
  vertical-align: middle;
  position: relative;
  box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.2);
}

.child h3 {
  color: #2f1ce4;
  font-size: 36px;
  margin-bottom: 20px;
}

.child p {
  color: #222020;
  font-size: 16px;
}

.child-text {
  padding-top: 30px;
  padding-left: 46px;
}

.right {
  margin-right: 0;
}

.number {
  position: absolute;
  font-weight: 500;
  right: 24px;
  bottom: 30px;
  font-size: 48px;
  color: #eaeaea;
}

.btn-center {
  text-align: center;
}

.button {
  margin-top: 40px;
  margin-bottom: 60px;
  background-color: #fff;
  color: #2f1ce4;
  border: 3px solid #2f1ce4;
  padding: 28px 84px;
  font-family: "Gilroy", sans-serif;
  font-size: 16px;
  cursor: pointer;
}

.modules-title {
  padding-left: 20px;
  margin-top: 105px;
  margin-bottom: 90px;
  font-size: 48px;
  font-weight: 900;
  color: #222020;
}

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #222020;
}

.header-text > h1 {
  color: white;
  font-family: "Graphik LCG", sans-serif;
  font-size: 36px;
  margin-bottom: 30px;
}

.download-link {
  display: inline-block;
  font-weight: 400;
  padding: 20px;
  color: white;
  background-color: #2f1ce4;
  border: 3px solid #2f1ce4;
}

.about {
  display: inline-block;
  font-weight: 400;
  padding: 20px;
  color: white;
  border: transparent;
  border: 3px solid white;
}

.container {
  width: 1170px;
  margin: 0 auto;
  padding: 30px 0;
}

.back-link {
  padding-left: 44px;
  font-size: 18px;
  background-image: url("../img/return.png");
  background-position: left center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
  color: #222020;
}

.program-title > h1 {
  margin-top: 100px;
  padding-left: 100px;
  font-size: 48px;
  color: #222020;
}

.program-subtitle {
  padding-left: 180px;
  font-size: 36px;
  color: #2f1ce4;
  margin-top: 100px;
  margin-bottom: 25px;
}

.program-list {
  padding-left: 200px;
  font-size: 18px;
}

.program-text {
  padding-left: 180px;
  margin-bottom: 20px;
}

.table,
.table th,
.table td {
  margin-top: 100px;
  border: 1px solid #000;
}

.table {
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 5px;
}

.img-figure {
  padding-left: 200px;
  text-align: center;
  display: inline-block;
  margin: 50px auto;
}
