body {
  padding: 50px;
}

.item {
  margin-bottom: 30px;
}

.item__examples {
  display: flex;
}

.item__example:first-child {
  margin-right: 30px;
}

.btn {
  margin: 11px 4px;
  padding: 0 16px;
  height: 36px;
  min-width: 54px;
  font-family: arial, sans-serif;
  font-size: 14px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
  user-select: none;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  background-color: #f2f2f2;
  color: #5f6368;
}

.btn:hover {
  background-color: #000;
  color: #fff;
}

.btn-duration-bad {
  transition: background-color 2s, color 2s;
}

.btn-duration-good {
  transition: background-color 0.2s, color 0.2s;
}

@keyframes anim {
  /* or "from" and "to" instead of %*/
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateY(10px);
    transform: translateY(-10px);
  }
  100% {
    transform: translateX(100px);
  }
}

.btn-animation-bad {
  animation: anim 1s alternate linear infinite;
}

.btn-animation-good {
  /* Animation delay can be write in short form after duration!! */
  animation: anim 1s 2s alternate ease-in-out infinite;
  /* or */
  animation-name: anim;
  animation-duration: 1s;
  animation-direction: alternate;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-delay: 2s;
  /* animation-fill-mode: forwards; */
}

.btn-animation-good:hover {
  animation-play-state: paused;
}
