label {
  position: relative;
  padding-left: 20px;
  cursor: pointer;
}

#check {
  display: none;
}

#check + span {
  position: absolute;
  top: 0;
  left: 0;
  width: 14px;
  height: 14px;
  text-align: center;
  border: 1px solid #ff2200;
}

#check + span:before {
  content: "\2713";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

#check:checked + span:before {
  opacity: 1;
}
