@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/open-sans-v34-latin-regular.eot"); /* IE9 Compat Modes */
  src: local(""),
    url("fonts/open-sans-v34-latin-regular.eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("fonts/open-sans-v34-latin-regular.woff2") format("woff2"),
    /* Super Modern Browsers */ url("fonts/open-sans-v34-latin-regular.woff")
      format("woff"),
    /* Modern Browsers */ url("fonts/open-sans-v34-latin-regular.ttf")
      format("truetype"),
    /* Safari, Android, iOS */
      url("fonts/open-sans-v34-latin-regular.svg#OpenSans") format("svg"); /* Legacy iOS */
}

html {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
}

.main-container {
  position: absolute;
  display: flex;
  width: 2674px;
  height: 100vh;
  background-color: #424242;
}

/* Custom Checkbox */

.custom-checkbox {
  margin-top: 70px;
  margin-left: 92px;
  width: 176px;
  height: 309px;
  background-color: #fff;
  border-radius: 10px;
}

.custom-checkbox__container {
  padding: 21px 29px 29px 30px;
}

.custom-checkbox__title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  color: #333333;
}

.custom-checkbox__choice {
  display: block;
  position: relative;
  cursor: pointer;
  margin-bottom: 20px;
  padding-left: 24px;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.custom-checkbox__choice input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  border: 1px solid #999;
  border-radius: 3px;
}

.custom-checkbox__choice:hover input ~ .checkmark {
  border: 1px solid #ccb26e;
}

.custom-checkbox__choice input:checked ~ .checkmark {
  border: 1px solid #ccb26e;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox__choice input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox__choice .checkmark:after {
  left: 6px;
  top: 3px;
  width: 3px;
  height: 6px;
  border: solid #ccb26e;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* Custom Select */

.custom-select {
  margin-top: 70px;
  margin-left: 58px;
  margin-right: 58px;
  width: 176px;
  height: 39px;
  font-size: 14px;
  line-height: 19px;
  color: #333333;
}

.choices {
  width: 176px;
  height: 39px;
  background: #fff;
  border-radius: 10px;
}

.choices__inner {
  width: 176px;
  height: 39px;
}

.choices__item {
}

/* Custom Map */

.custom-map {
  position: relative;
  margin-top: 70px;
  margin-right: 58px;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

.custom-map__text {
  position: absolute;
  top: -50px;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: white;
}

/* Custom Scroll */

.customScroll {
  margin-top: 70px;
  margin-right: 58px;
  padding: 20px 30px 46px 29px;
  width: 399px;
  height: 310px;
  font-size: 14px;
  line-height: 24px;
  background-color: #fff;
  color: #333;
}
.simplebar-content-wrapper {
  overflow: auto;
}

/* Custom Validation */

.custom-validation__container {
  margin-top: 70px;
  margin-right: 58px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 20px 30px 39px 30px;
  width: 440px;
  height: 410px;
}

.form input {
  margin-bottom: 31px;
  padding: 1px 0px 1px 20px;
  width: 380px;
  height: 60px;
  font-size: 16px;
  line-height: 19px;
  color: #999;
  background: #fff;
  border: 1px solid #ff5c00;
  border-radius: 10px;
}

.form-button {
  padding: 17px 53px;
  width: 192px;
  height: 60px;
  font-size: 20px;
  line-height: 23px;
  color: #fff;
  background: #ff5c00;
  border-radius: 10px;
}

/* Custom Tooltip */

.custom-tooltip {
  margin-top: 70px;
}

.custom-tooltip__first,
.custom-tooltip__second {
  background: #fff;
  padding: 20px 78px 20px 29px;
  margin-bottom: 29px;
  width: 375px;
  height: 160px;
  font-size: 14px;
  line-height: 24px;
  color: #333;
}

.custom-tooltip__text {
  max-width: 268px;
}

.tooltip {
  position: relative;
}

.marker {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: #bcbcbc;
  border-radius: 50%;
}

.popup {
  position: absolute;
  top: 100%;
  left: 0;
  width: 163px;
  margin-top: 10px;
  padding: 7px 15px;
  background: #666666;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.marker:hover + .popup,
.marker:focus + .popup {
  opacity: 1;
}
