/* --- FONTS --- */

/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff");
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff");
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff");
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff");
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff");
}

/* --- COMMON ---  */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* transition: 0.5s ease-in-out; */
  /* добавим плавность переходов для всех элементов страницы */
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0px;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  background: #fff;
}

img {
  width: 100%;
}

button {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: none;
  cursor: pointer;
}

.button-common {
  padding: 20px 38px;
}

/* --- HEADER --- */

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 14px 75px;
  max-height: 100px;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  border-radius: 0px 0px 32px 32px;
}

.header__logo {
  padding-right: 20px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header-nav__list {
  display: flex;
}

.header-nav__item {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 600;
}

.header-nav__item:not(:last-child) {
  margin-right: 85px;
}

.header-nav__item:last-child {
  margin-right: 260px;
}

/* --- MAIN --- */

.main {
  display: flex;
  justify-content: center;
  padding: 0 75px;
}

.main__container {
  flex: 1 1 100%;
}

/* --- HERO --- */

.section-hero__container {
  margin-top: 50px;
  padding: 100px 80px;
  background: url("../img/hero-1-1770w.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.section-hero__title {
  max-width: 837px;
  font-size: 4.375rem;
  line-height: 5.3125rem;
  font-weight: 800;
  color: #fff;
}

.section-hero__text {
  margin-top: 24px;
  max-width: 790px;
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 700;
  color: #fff;
}

.section-hero__button {
  margin-top: 90px;
  padding: 25px 39px;
  font-size: 1.4375rem;
  line-height: 1.75rem;
  font-weight: 700;
  text-align: center;
  background-color: #ff9900;
  border-radius: 16px;
  color: #fff;
}

/* --- ABOUT --- */

.section-about__container {
  margin-top: 50px;
}

.section-about__title {
  font-size: 3rem;
  line-height: 3.6875rem;
}

.section-about__text {
  margin-top: 20px;
  max-width: 1235px;
  font-size: 1rem;
  line-height: 2rem;
}

.section-about__down {
  margin-top: 50px;
  display: flex;
}

.section-about__left {
  position: relative;
  flex: 1 1 50%;
  min-height: 100%;
  margin-right: 32px;
  background: url("../img/about-main-868w.jpg") center center no-repeat;
  background-size: cover;
  border-radius: 32px;
}

.section-about-left__container {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 50px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 32px;
}

.section-about-left__text {
  margin-right: 50px;
  max-width: 433px;
  font-size: 1rem;
  line-height: 2rem;
  font-weight: 700;
  color: #fff;
}

.section-about-left__button {
  padding: 17px 35px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  border: 3px solid #ff9900;
  border-radius: 16px;
  color: #fff;
}

.section-about__right {
  flex: 1 1 50%;
}

.section-about-right__item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 65px 60px;
  border: 1px solid #cacaca;
  border-radius: 32px;
}

.section-about-right__item:not(:last-child) {
  margin-bottom: 32px;
}

.section-about-right__logo {
  margin-right: 50px;
}

.section-about-right__title {
  font-size: 1.5rem;
  line-height: 1.8125rem;
  font-weight: 700;
}

.section-about-right__text {
  margin-top: 8px;
  max-width: 450px;
  font-size: 1rem;
  line-height: 2rem;
}

/* --- WORK --- */

.section-work__container {
  margin-top: 100px;
}

.section-work__title {
  font-size: 3rem;
  line-height: 3.6875rem;
}

.section-work__nav {
  margin-top: 50px;
}

.section-work__list {
  display: flex;
}

.section-work__item:not(:last-child) {
  margin-right: 85px;
}

.section-work__link {
  font-size: 1.125rem;
  line-height: 1.375rem;
}

.section-work__down {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}

.section-work-down__left {
  display: flex;
  flex: 1 1 50%;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 42px;
}

.section-work-down__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

.section-work-down__text {
  margin-top: 8px;
  max-width: 758px;
  font-size: 1rem;
  line-height: 2rem;
}

.section-work-down__buttons {
  display: flex;
  margin-top: 18px;
}

.section-work-down__button-more {
  padding: 19px 38px;
  margin-right: 32px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  background: #ff9900;
  border-radius: 16px;
  color: #fff;
}

.section-work-down__button-contract {
  padding: 19px 38px;
  font-size: 1rem;
  line-height: 1.25rem;
  border: 1px solid #000;
  border-radius: 16px;
}

.section-work-down__right {
  position: relative;
  flex: 0 0 50%;
}

.section-work-down__image {
  position: absolute;
  bottom: 0;
  height: 100%;
  object-fit: cover;
  border-radius: 32px;
}

/* FAQ */

.section-faq__container {
  margin-top: 111px;
}

.section-faq__title {
  font-size: 3rem;
  line-height: 3.6875rem;
}

.section-faq__list {
  margin-top: 32px;
}

.section-faq__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 0px;
  border-top: 1px solid #cacaca;
  border-bottom: 1px solid #cacaca;
}

.section-faq__item:not(:last-child) {
  border-bottom: none;
}

.section-faq__question {
  margin-right: 60px;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 700;
}

/* .section-faq__button::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
} */

/* --- FOOTER --- */

.footer__container {
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
  padding: 50px 75px;
  background-color: #000;
  color: #cacaca;
}

.footer__menu {
  flex: 1 1 34%;
}

.footer__logo {
  max-width: 224px;
}

.footer-nav__list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.footer-nav__link {
  font-size: 1.125rem;
  line-height: 2.25rem;
  font-weight: 600;
  color: #cacaca;
}

.footer__social {
  margin-top: 90px;
}

.footer-social__ok {
  margin-right: 21px;
}

.footer__form {
  flex: 1 1 32%;
}

.footer-form__title {
  font-size: 3rem;
  line-height: 3.6875rem;
}

.footer-form__name,
.footer-form__email,
.footer-form__message {
  margin-top: 25px;
}

#name,
#email,
#message {
  padding: 14px 24px;
  min-width: 100%;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  background: #414141;
  border: none;
  border-radius: 16px;
  color: #fff;
}

#name::placeholder,
#email::placeholder,
#message::placeholder {
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 2rem;
  color: #cacaca;
}

#message {
  min-height: 150px;
  resize: none;
}

.footer-form__down {
  position: relative;
  display: flex;
  margin-top: 32px;
}

.footer-form__submit-button {
  margin-right: 22px;
  padding: 19px 49px;
  min-width: 269px;
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  background: #ff9900;
  border-radius: 16px;
  color: #fff;
}

.submit-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.submit-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.submit-checkbox + label::before {
  content: "";
  display: inline-block;
  min-width: 0.875rem;
  min-height: 0.875rem;
  border: 1px solid #cacaca;
  border-radius: 2px;
  margin-right: 4px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.submit-checkbox:checked + label::before {
  background: url("../img/checked.svg") center center no-repeat;
  background-size: contain;
}

.submit-checkbox__lable {
  min-width: 279px;
}

.footer__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex: 1 1 34%;
}

.footer-info__text {
  margin-left: 60px;
  max-width: 363px;
  font-size: 1rem;
  line-height: 2rem;
}

/* --- UI-KIT --- */

.header-nav__link,
.header__search-button,
.section-hero__button,
.section-about-left__button,
.section-work__link,
.section-work-down__button-more,
.section-work-down__button-contract,
.footer-nav__link,
.footer-form__submit-button,
.submit-checkbox,
.footer-form__form {
  transition: color, border, border-color, background-color, 0.1s ease-out;
}

/* --- TRANSITIONS-HEADER --- */

.header-nav__link:hover {
  border-bottom: 2px solid #ff9900;
}

.header-nav__link:focus {
  outline: none;
  padding: 3px;
  border: 2px solid #ff9900;
}

.header-nav__link:active {
  padding: 0;
  border: none;
  border-bottom: 2px solid #e1670e;
  color: #e1670e;
}

.header__search-button:hover svg path {
  stroke: #ff9900;
}

.header__search-button:hover svg rect {
  fill: #ff9900;
}

.header__search-button:focus {
  outline: none;
  padding: 2px;
  border: 2px solid #ff9900;
}

.header__search-button:active {
  padding: 0;
  outline: none;
  border: none;
}

.header__search-button:active svg path {
  stroke: #ff9900;
}

.header__search-button:active svg rect {
  fill: #ff9900;
}

/* --- TRANSITIONS-HERO --- */

.section-hero__button:hover {
  background-color: #ffb84d;
}

.section-hero__button:focus {
  outline: none;
  background-color: #ffb84d;
}

.section-hero__button:active {
  background-color: #e1670e;
}

/* --- TRANSITIONS-ABOUT --- */

.section-about-left__button:hover {
  background-color: #ff9900;
}

.section-about-left__button:focus {
  outline: none;
  background-color: #ff9900;
}

.section-about-left__button:active {
  border-color: #e1670e;
  background-color: #e1670e;
}

/* --- TRANSITIONS-WORK --- */

.section-work__link:hover {
  border-bottom: 2px solid #ff9900;
}

.section-work__link:focus {
  outline: none;
  padding: 3px;
  border: 2px solid #ff9900;
}

.section-work__link:active {
  padding: 0;
  border: none;
  color: #e1670e;
}

.section-work-down__button-more:hover {
  background-color: #ffb84d;
}

.section-work-down__button-more:focus {
  outline: none;
  background-color: #ffb84d;
}

.section-work-down__button-more:active {
  background-color: #e1670e;
}

.section-work-down__button-contract:hover {
  border-color: #666666;
  background-color: #666666;
  color: #fff;
}

.section-work-down__button-contract:focus {
  outline: none;
  border-color: #666666;
  background-color: #666666;
  color: #fff;
}

.section-work-down__button-contract:active {
  background-color: #000;
  color: #fff;
}

/* --- TRANSITIONS-FAQ --- */

.section-faq__item:hover {
  color: #ff9900;
  border-top: 1px solid #ff9900;
  border-bottom: 1px solid #ff9900;
}

.section-faq__item:hover + .section-faq__item {
  border-top: none;
}

/* --- TRANSITIONS-FOOTER --- */

.footer-nav__link:hover {
  color: #ff9900;
}

.footer-nav__link:focus {
  outline: none;
  padding: 0px 3px;
  border: 2px solid #ff9900;
  color: #cacaca;
}

.footer-nav__link:active {
  padding: 0;
  border: none;
  color: #e1670e;
}

.footer-social__ok:hover path {
  fill: #ff9900;
}

/* .footer-social__ok:focus path {
  outline: none;
  padding: 3px;
  border: 2px solid #ff9900;
} */

.footer-social__ok:active path {
  fill: #e1670e;
}

.footer-social__vk:hover path {
  fill: #ff9900;
}

.footer-social__vk:active path {
  fill: #e1670e;
}

#name:hover,
#email:hover,
#message:hover {
  background-color: #666666;
}

#name:focus,
#email:focus,
#message:focus {
  outline: none;
  background-color: #666666;
}

#name:active,
#email:active,
#message:active {
  background-color: #666666;
  color: #fff;
}

.footer-form__submit-button:hover {
  background-color: #ffb84d;
}

.footer-form__submit-button:focus {
  outline: none;
  background-color: #ffb84d;
}

.footer-form__submit-button:active {
  background-color: #e1670e;
}

.submit-checkbox:focus + label::before {
  outline: none;
  padding: 2px;
  border: 1px solid #ff9900;
}

/* --- MEDIA --- */
