/* --- FONTS --- */

/* montserrat-300 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-300.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-300.woff") format("woff");
}
/* montserrat-regular - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-regular.woff") format("woff");
}
/* montserrat-500 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-500.woff") format("woff");
}
/* montserrat-600 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-600.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-600.woff") format("woff");
}
/* montserrat-700 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-700.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-700.woff") format("woff");
}
/* montserrat-800 - latin_cyrillic */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 800;
  src: local(""),
    url("../fonts/montserrat-v25-latin_cyrillic-800.woff2") format("woff2"),
    url("../fonts/montserrat-v25-latin_cyrillic-800.woff") format("woff");
}

/* --- COMMON ---  */

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* transition: 0.5s ease-in-out; */
  /* добавим плавность переходов для всех элементов страницы */
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  letter-spacing: 0px;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 16px;
  color: #000;
  background: #ffffff;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

/* --- HEADER --- */

/* --- MAIN --- */

/* --- FOOTER --- */
