@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerRegular.woff2") format("woff2"),
    url("../fonts/MullerRegular.woff") format("woff");
  font-display: swap;
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerLight.woff2") format("woff2"),
    url("../fonts/MullerLight.woff.woff") format("woff");
  font-display: swap;
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerMedium.woff2") format("woff2"),
    url("../fonts/MullerMedium.woff") format("woff");
  font-display: swap;
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Muller";
  src: url("../fonts/MullerBold.woff2") format("woff2"),
    url("../fonts/MullerBold.woff") format("woff");
  font-display: swap;
  font-weight: 700;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-family: "Muller";
}

body {
  background: #f1f1f1;
}

h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}

h4 {
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  margin-bottom: 0px;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  padding: 13px 20px;
  background: #ffffff;
  border: 1px solid #cc9933;
  border-radius: 10px;
}

.btn-link {
  color: #cc9933;
}

.section-title {
  margin-left: 40px;
  margin-bottom: 20px;
  font-size: 40px;
  line-height: 40px;
  font-weight: normal;
  color: #333333;
}

.section-text {
  font-size: 16px;
  line-height: 32px;
  font-weight: normal;
  color: #000;
}

/* Header */

.header {
  margin-top: 30px;
}

.logo-img {
  border-radius: 15px;
  margin-right: 40px;
}

.header-tel {
  font-size: 20px;
  line-height: 20px;
  font-weight: medium;
  color: #666666;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.header-upper {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.header-login {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
  color: #cc9933;
}

.header-login-img {
  display: inline-block;
  width: 24px;
  height: 24px;
  margin-right: 5px;
  background: url("../img/logo_keyboard_tab.svg") center center no-repeat
    transparent;
  background-size: contain;
  transform: translateY(-1px);
}

.header-bottom {
  display: flex;
  align-items: center;
  padding: 27px 45px;
  background: #ffffff;
  border-radius: 15px;
}

.nav-list {
  display: flex;
}

.nav-item {
  min-width: 44px;
  font-size: 16px;
  line-height: 16px;
  font-weight: normal;
}

.nav-link {
  color: #666666;
}

.nav-item:not(:last-child) {
  margin-right: 45px;
}

.header-btn-left {
  margin-left: auto;
}

.header-btn-right {
  margin-left: 40px;
}

/* Hero */

.section-hero {
  margin-top: 70px;
}

.section-hero-container {
  display: flex;
}

.section-hero-item {
  padding-top: 40px;
  padding-left: 45px;
}

.section-hero-name {
  word-wrap: break-word;
  max-width: 400px;
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 40px;
  line-height: 40px;
  font-weight: 700;
  color: #ffffff;
}

.section-hero-price {
  margin-top: 15px;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
}

.section-hero-more-link {
  display: inline-block;
  margin-top: 47px;
  margin-bottom: 40px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #f0bf5f;
}

.icon-more {
  display: inline-block;
  width: 16px;
  height: 16px;
  background: url("../img/logo_advanced.svg") center center no-repeat
    transparent;
  background-size: contain;
  transform: translateX(3px);
  transform: translateY(3px);
}

.section-hero-item-maldives {
  margin-right: 24px;
  margin-bottom: 24px;
  background: url("../img/so_maldives.jpg") center no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.section-hero-item-crete {
  margin-right: 24px;
  background: url("../img/so_island-crete.jpg") center no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.lux-section-hero {
  padding-top: 212px;
  padding-left: 45px;
}

.lux-section-hero-name {
  word-wrap: break-word;
  max-width: 300px;
  font-size: 60px;
  line-height: 60px;
  font-weight: 700;
  color: #ffffff;
}

.lux-section-hero-price {
  margin-top: 15px;
  font-size: 30px;
  line-height: 30px;
  font-weight: normal;
  color: #ffffff;
}

.lux-section-hero {
  height: 100%;
  background: url("../img/so_luxery-rooms.jpg") center no-repeat;
  background-size: cover;
  border-radius: 15px;
}

.section-hero-left {
  flex: 1 1 50%;
}

.section-hero-right {
  flex: 1 1 50%;
}

/* About */

.section-about {
  margin-top: 70px;
}

.section-text-about {
  max-width: 888px;
}

/* Services */

.section-services {
  margin-top: 70px;
}

.section-services-list {
  display: flex;
  flex-wrap: wrap;
}

.section-services-item {
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 48%;
  margin-bottom: 24px;
  background: #ffffff;
  border-radius: 15px;
}

.section-services-item:not(:nth-child(2n)) {
  margin-right: 24px;
}

.section-services-img {
  min-width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.section-services-name {
  margin-top: 26px;
  margin-left: 45px;
  font-size: 20px;
  line-height: 40px;
  font-weight: 500;
  color: #cc9933;
}

.section-text-services {
  margin-left: 45px;
  margin-bottom: 35px;
  max-width: 402px;
}

/* Benefits */

.section-benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.section-benefits-item {
  margin-bottom: 22px;
  flex: 1 1 23%;
  background: #fff;
  border-radius: 15px;
}

.section-benefits-item:not(:nth-child(4n)) {
  margin-right: 22px;
}

.section-benefits-icon {
  margin-top: 40px;
  margin-left: 45px;
}

.section-benefits-text {
  margin-top: 10px;
  margin-bottom: 32px;
  margin-left: 45px;
  max-width: 189px;
}

/* Location  */

.section-location {
  margin-top: 70px;
}

.section-location-list {
  display: flex;
  flex-wrap: wrap;
}

.section-location-item {
  flex: 1 1 33.33%;
  background: #fff;
  border-radius: 15px;
}

.section-location-img {
  min-width: 100%;
  border-radius: 15px 15px 0px 0px;
}

.section-location-price {
  margin-top: 32px;
  margin-left: 45px;
  margin-bottom: 45px;
}

.section-location-rating {
  display: inline-block;
}
