* {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.btn {
  display: inline-block;
}

.section-title {
}

/* Header */

.header-upper {
  display: flex;
  align-items: center;
}

.header-login {
  margin-left: auto;
}

.header-bottom {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
}

.nav-item {
  margin-right: 30px;
}

.header-btn-left {
  margin-left: auto;
}

.header-btn-right {
  margin-left: 10px;
}

/* Hero */

.section-hero-container {
  display: flex;
}

.section-hero-left {
  flex: 1 1 50%;
}

.section-hero-right {
  flex: 1 1 50%;
}

/* About */

/* Services */

.section-services-list {
  display: flex;
  flex-wrap: wrap;
}

.section-services-item {
  flex: 1 1 50%;
}

/* Benefits */

.section-benefits-list {
  display: flex;
  flex-wrap: wrap;
}

.section-benefits-item {
  flex: 1 1 25%;
}

.section-benefits-text {
  max-width: 250px;
}

/* Location  */

.section-location-list {
  display: flex;
  flex-wrap: wrap;
}

.section-location-item {
  flex: 1 1 33.33%;
}
