.test,
.frontend {
  font-size: 16px;
  border: 2px solid blue;
}

.test {
  margin-bottom: 12px;
}

.space .child {
  background-color: #e1e1e1;
}

.space > .child {
  border: 3px solid red;
}

.child-first ~ .child {
  border-color: blue;
}

.child-first + .child {
  border-color: green;
}

button:hover,
button:focus {
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}

button:focus {
  outline: 1px solid grey;
}

button:active {
  box-shadow: none;
  outline: none;
}

.grid {
  display: flex;
  margin-top: 40px;
  margin-left: 40px;
}

.grid-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 30px;
  width: 100px;
  height: 100px;
  background: tomato;
  border-radius: 10px;
}

/* .grid-child:nth-child(3) {
  background-color: blue;
} */

/* .grid-child:first-child {
  background-color: grey;
} */

/* .grid-child:last-child {
  background-color: purple;
} */

/* .grid-child:nth-last-child(2) {
  background-color: pink;
} */

/* .grid-child:nth-child(2n) {
  background-color: violet;
} */

/* .grid-child:nth-child(-n+3) {
  background-color: violet;
} */

/* .grid-child:not(:nth-child(2n)) {
  background-color: pink;
} */

/* .grid-child:not(.test2) {
  background-color: red;
} */

p::first-letter {
  font-size: 24px;
  font-weight: bold;
}

p::first-line {
  font-style: italic;
}

::selection {
  background-color: orange;
}

.scene {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  width: 400px;
  height: 400px;
  border: 1px solid #999;
  font-size: 24px;
  /*   transition-property: color, font-size;
  transition-duration: 1s;
  transition-timing-function: ease-in-out; */
  /*   transition-delay: 1s; */
  transition: color, font-size 1s ease-in-out;
}

.scene:hover {
  font-size: 48px;
  color: white;
}

.scene:hover::before,
.scene:hover::after {
  transform: none;
}

.scene > * {
  position: relative;
  z-index: 1;
}

.scene::before,
.scene::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  background-color: blue;
  transition: transform 0.5s ease-in-out;
}

.scene::before {
  top: 0;
  bottom: 50%;
  transform: translateY(-100%);
}

.scene::after {
  top: 50%;
  bottom: 0;
  transform: translateY(100%);
}

.grid-2 {
  display: flex;
  flex-wrap: wrap;
}

.grid-2-child {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: 170px;
  height: 130px;
  color: white;
  background-color: navy;
}

.grid-2-child:hover {
  transition: transform 0.5s;
}

.grid-2-child-matrix:hover {
  transform: matrix(1.2, 0, 0.5, 1.2, 50, 0);
  /*   matrix( scaleX(), skewY(), skewX(), scaleY(), translateX(), translateY()) */
}

.grid-2-child-translate:hover {
  transform: translate(5px, 10px);
}

.grid-2-child-translateX:hover {
  transform: translateX(50px);
}

.grid-2-child-translateY:hover {
  transform: translateY(50px);
}

.grid-2-child-scale:hover {
  transform: scale(0.5, 0.3);
}

.grid-2-child-scaleX:hover {
  transform: scaleX(1.3);
}

.grid-2-child-scaleY:hover {
  transform: scaleY(1.5);
}

.grid-2-child-rotate180:hover {
  transform: rotate(180deg);
}

.grid-2-child-skew:hover {
  transform: skew(-35deg, 50deg);
}

.grid-2-child-skewX:hover {
  transform: skewX(-35deg);
}

.grid-2-child-skewY:hover {
  transform: skewY(50deg);
}

.grid-2-child-rotate270 {
  transform-origin: top right;
  /*   transform-origin: 100% 0%; */
}

.grid-2-child-rotate270:hover {
  transform: rotate(-15deg) scale(1.1) skewX(-15deg);
}

:root {
  --font-size: 18px;
  --font-color: black;
  --gutter: 18px;
}

body {
  font-size: var(--font-size);
  color: var(--font-color);
}

@media (max-width: 1000px) {
  :root {
    --font-size: 16px;
  }
}

.test4 {
  --font-size: 12px;
  font-size: var(--font-size);
  margin-top: 20px;
}

/* object-fit */

.object-fit-cover {
  width: 400px;
  height: 300px;
  object-fit: cover;
}

.object-fit-initial {
  width: 400px;
  height: 300px;
  object-fit: initial;
}

.object-fit-contain {
  width: 400px;
  height: 300px;
  object-fit: contain;
}

/* inherit */

.element {
  color: red;
}

.element-child {
  color: inherit;
}

/* currentColor */

.element-2 {
  color: blueviolet;
  border: 1px solid currentColor;
  /* background: currentColor; */
}

/* filter */

.filter-blur {
  width: 200px;
  height: 200px;
  filter: blur(2px);
  background: #000;
  color: #fff;
}

.filter-brightness {
  width: 200px;
  height: 200px;
  filter: brightness(200%);
  background: #000;
  color: #fff;
}

.filter-greyscale {
  max-height: 300px;
  filter: grayscale(100%);
}

.filter-drop-shadow {
  display: block;
  max-height: 300px;
  margin-top: 30px;
  filter: drop-shadow(0 0 10px rgba(100, 0, 0, 0.9));
}

.gradient {
  margin-top: 30px;
  width: 200px;
  height: 200px;
  background: linear-gradient(to top, black, red);
}

.calc-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.calc-child {
  min-height: 150px;
  border: 2px solid darkred;
  flex: 0 0 calc(33.3% - var(--gutter));
}
